@import "nullstyle";

//=FONTS==============================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@font-face {
  font-family: "Akzidenz-Grotesk-BQ";
  src: local("Akzidenz-Grotesk-BQ-Bold-Condensed"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.eot") format("eot"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.otf") format("otf"),
    url("../fonts/AkzidenzGroteskBQ-BdCnd.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bebas";
  src: local("BebasNeue-Regular"),
    url("../fonts/BebasNeue-Regular.eot") format("eot"),
    url("../fonts/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("../fonts/BebasNeue-Regular.otf") format("otf"),
    url("../fonts/BebasNeue-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PT Sans";
}

//=FONTS==============================================================================================================================================================================

//=WRAPPER==============================================================================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//=WRAPPER==============================================================================================================================================================================

//=VARIABLES======================================================================================================================================================================
$minwidth: 320px;
$mw: 880px;
$md1: $mw + 15px;
$md2: 992px;
$md3: 767px;
$md4: 479px;
//=VARIABLES======================================================================================================================================================================

//=CHECK-POINTS===========================================================================================================================================================================
.container {
  max-width: $mw;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 15px;
  }
}
//=CHECK-POINTS====================================================================================================================================================================

//=BLOCKS==============================================================================================================================================================================

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  & img {
    display: none;
  }
}

.btn {
  display: inline-block;
  line-height: 50px;
  width: 155px;
  background-color: #fff;
  color: #000;
  font-family: "Bebas";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #959595;
    color: #fff;
  }
  &_b {
    background-color: #000;
    color: #fff;
  }
}

.title {
  font-family: "Akzidenz-Grotesk-BQ";
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media (max-width: $md2) {
    font-size: 35px;
  }
}

.subtitle {
  font-family: "Akzidenz-Grotesk-BQ";
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (max-width: $md4) {
    font-size: 20px;
  }
}

.text {
  font-size: 15px;
  line-height: 25px;
  @media (max-width: $md2) {
    line-height: 20px;
  }
}

.link {
  display: inline-block;
  font-family: "Bebas";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
  color: #fff;
  &_b {
    color: #000;
  }
}

.header-top-lang {
  display: flex;
  @media (max-width: $md3) {
    margin: 0px 0px 15px 0px;
  }
  .header-top-lang__item {
    display: block;
    line-height: 25px;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    text-transform: uppercase;
    font-family: "Bebas";
    letter-spacing: 1px;
    padding: 0px 5px;
    margin: 0px 10px 0px 0px;
    &.activeLang {
      background-color: #000;
      color: #fff;
    }
  }
}

.header-bottom-menu {
  .header-bottom-menu-list {
    display: flex;
    & li {
      padding: 0px 45px;
      &:first-child,
      &:last-child {
        padding: 0;
      }
      @media (max-width: $md2) {
        padding: 0px 22.5px;
        justify-content: space-between;
      }
      @media (max-width: $md3) {
        padding: 0px;
      }
    }
    @media (max-width: $md3) {
      display: block;
    }
    .header-bottom-menu__link {
      font-family: "Akzidenz-Grotesk-BQ";
      font-size: 15px;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 1.5px;
      line-height: 25px;
      &:hover {
        text-decoration: underline;
      }
      @media (max-width: $md3) {
        font-size: 18px;
        line-height: 40px;
      }
    }
  }
}

.header__burger {
  display: none;
  @media (max-width: $md3) {
    display: block;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 10;
    & span {
      position: absolute;
      background-color: #000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    &::before {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      transition: all 0.3s ease 0s;
    }
    &::after {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      transition: all 0.3s ease 0s;
    }
    &.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &.active span {
      transform: scale(0);
    }
  }
}

.header-menu {
  @media (max-width: $md3) {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -100%;
    top: 0;
    background-color: rgba($color: #fff, $alpha: 0.95);
    padding: 148px 10px 10px 20px;
    transition: all 0.6s ease 0s;
    &.active {
      left: 0;
    }
  }
}

//=BLOCKS==============================================================================================================================================================================

body {
  @media (max-width: $md3) {
    &.lock {
      overflow: hidden;
    }
  }
}

.header {
  padding: 25px 0px 30px 0px;
  @media (max-width: $md3) {
    padding: 18px 0px 30px 0px;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md3) {
      justify-content: flex-end;
    }
    .header-top__link {
      position: relative;
      z-index: 10;
      font-family: "Akzidenz-Grotesk-BQ";
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #000;
    }
  }
  .header-bottom {
    margin: -10px 0px 0px 0px;
    display: flex;
    align-items: center;
    @media (max-width: $md3) {
      margin: 20px 0px 0px 0px;
    }
    .header-bottom__column {
      flex: 0 0 33.333%;
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
      @media (max-width: $md3) {
        flex: 0 0 100%;
        &:first-child,
        &:last-child {
          display: none;
        }
      }
    }
    .header-logo {
      position: relative;
      z-index: 10;
      display: block;
      text-align: center;
      .header-logo__text {
        display: block;
        font-family: "Bebas";
        color: #000;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 8px;
        @media (max-width: $md3) {
          font-weight: 400;
          letter-spacing: 5px;
        }
      }
      .header-logo__image {
        display: inline-block;
        margin: 13px 0px 22px 0px;
        @media (max-width: $md3) {
          margin: 0px 0px 5px 0px;
          img {
            width: 150px;
          }
        }
      }
    }
  }
}

.main {
  .content {
    .private {
      display: flex;
      background-color: #000;
      margin: 0px 0px 75px 0px;
      @media (max-width: $md3) {
        flex-direction: column;
        margin: 0px 0px 40px 0px;
      }
      .private__column {
        flex: 0 0 50%;
        @media (max-width: $md3) {
          flex: 0 0 100%;
        }
      }
      .private__image {
        height: 100%;
        @media (max-width: $md3) {
          padding: 0px 0px 275px 0px;
        }
      }
      .private__body {
        color: #fff;
        padding: 65px 55px;
        @media (max-width: $md2) {
          padding: 30px 30px;
        }
        .private__container {
          max-width: 305px;
          display: flex;
          flex-direction: column;
          .private__title {
            margin: 0px 0px 25px 0px;
            transform: translate(120%, 0px);
            opacity: 0;
            transition: all 0.8s ease 0s;
            &._activeAnime {
              transform: translate(0px, 0px);
              opacity: 1;
            }
          }
          .private__text {
            margin: 0px 0px 15px 0px;
            min-height: 85px;
            flex: 1 1 auto;
            transform: translate(120%, 0px);
            opacity: 0;
            transition: all 0.8s ease 0.2s;
            &._activeAnime {
              transform: translate(0px, 0px);
              opacity: 1;
            }
            @media (max-width: $md2) {
              min-height: 65px;
            }
          }
          .private__buttons {
            display: flex;
            align-items: center;
            transform: translate(120%, 0px);
            opacity: 0;
            transition: all 0.8s ease 0.4s;
            &._activeAnime {
              transform: translate(0px, 0px);
              opacity: 1;
            }
            @media (max-width: $minwidth) {
              flex-direction: column;
              align-items: flex-start;
            }
            .private__btn {
              @media (max-width: $minwidth) {
                margin: 0px 0px 15px 0px;
              }
            }
            .private__link {
              margin: 0px 0px 0px 15px;
              @media (max-width: $minwidth) {
                margin: 0px;
              }
            }
          }
        }
      }
    }

    .products {
      margin: 0px 0px 40px 0px;
      @media (max-width: $md3) {
        margin: 0px;
      }
      .products__body {
        display: flex;
        &._activeAnime .products__column {
          transform: translate(0px, 0px);
          opacity: 1;
          &:nth-child(1) {
            transition: all 0.4s ease 1.9s;
          }
          &:nth-child(2) {
            transition: all 0.4s ease 1.6s;
          }
          &:nth-child(3) {
            transition: all 0.4s ease 1.3s;
          }
          &:nth-child(4) {
            transition: all 0.4s ease 1s;
          }
        }
        @media (max-width: $md3) {
          flex-wrap: wrap;
          &._activeAnime .products__column {
            transform: translate(0px, 0px);
            opacity: 1;
            &:nth-child(1) {
              transition: all 0.4s ease 0.3s;
            }
            &:nth-child(2) {
              transition: all 0.4s ease 0s;
            }
            &:nth-child(3) {
              transition: all 0.4s ease 0.9s;
            }
            &:nth-child(4) {
              transition: all 0.4s ease 0.6s;
            }
          }
        }
        @media (max-width: 380px) {
          &._activeAnime .products__column {
            transform: translate(0px, 0px);
            opacity: 1;
            &:nth-child(1) {
              transition: all 0.4s ease 0s;
            }
            &:nth-child(2) {
              transition: all 0.4s ease 0.3s;
            }
            &:nth-child(3) {
              transition: all 0.4s ease 0.6s;
            }
            &:nth-child(4) {
              transition: all 0.4s ease 0.9s;
            }
          }
        }
        .products__column {
          flex: 0 0 25%;
          margin: 0px 0px 40px 0px;
          transform: translate(-120%, 0px);
          opacity: 0;
          transition: all 0.8s ease 0.4s;
          @media (max-width: $md3) {
            flex: 0 0 50%;
          }
          @media (max-width: 380px) {
            flex: 1 1 100%;
          }
        }
        .products__item {
          display: flex;
          flex-direction: column;
          height: 100%;
          .products__image {
            padding: 0px 0px 100% 0px;
            margin: 0px 0px 25px 0px;
            @media (max-width: 380px) {
              margin: 0px 0px 15px 0px;
            }
          }
          .products__title {
            max-width: 185px;
            padding: 0px 10px 0px 0px;
            margin: 0px 0px 30px 0px;
            @media (max-width: $md4) {
              margin: 0px 0px 20px 0px;
              max-width: none;
            }
          }
          .products__text {
            flex: 1 1 auto;
            max-width: 185px;
            padding: 0px 10px 0px 0px;
            margin: 0px 0px 25px 0px;
            @media (max-width: 380px) {
              margin: 0px 0px 15px 0px;
              max-width: none;
            }
          }
          .products__btn {
            margin: 0px 0px 25px 0px;
          }
          .products__link {
            margin: 0px;
          }
        }
      }
    }

    .why {
      .why-top {
        display: flex;
        background-color: #000;
        color: #fff;
        @media (max-width: $md3) {
          flex-direction: column;
        }
        .why-top__column {
          flex: 0 0 50%;
          @media (max-width: $md3) {
            flex: 0 0 100%;
          }
        }
        .why-top__title {
          text-align: right;
          padding: 55px 60px;
          transform: translate(-120%, 0px);
          opacity: 0;
          transition: all 0.8s ease 0s;
          &._activeAnime {
            transform: translate(0px, 0px);
            opacity: 1;
          }
          @media (max-width: $md2) {
            padding: 30px;
          }
          @media (max-width: $md3) {
            text-align: left;
          }
        }
        .why-top__image {
          height: 100%;
          @media (max-width: $md3) {
            padding: 0px 0px 130px 0px;
          }
        }
      }
      .why-body {
        background-color: #ebebeb;
        padding: 50px 0px 0px 0px;
        @media (max-width: $md4) {
          padding: 30px 0px 0px 0px;
        }
        .why-body__row {
          display: flex;
          flex-wrap: wrap;
          &._activeAnime .why-body__column {
            transform: translate(0px, 0px);
            opacity: 1;
            &:nth-child(1) {
              transition: all 0.4s ease 1s;
            }
            &:nth-child(2) {
              transition: all 0.4s ease 1.3s;
            }
            &:nth-child(3) {
              transition: all 0.4s ease 1.6s;
            }
            &:nth-child(4) {
              transition: all 0.4s ease 1.9s;
            }
          }
          .why-body__column {
            flex: 0 0 50%;
            transform: translate(120%, 0px);
            opacity: 0;
            padding: 0px 0px 50px 0px;
            @media (max-width: $md3) {
              flex: 1 1 100%;
            }
            @media (max-width: $md4) {
              padding: 0px 0px 30px 0px;
            }
          }
          .why-body__item {
            display: flex;
            .why-body__icon {
              display: flex;
              flex: 0 0 100px;
              height: 100px;
              background-color: #000;
              justify-content: center;
              align-items: center;
              @media (max-width: $md4) {
                flex: 0 0 80px;
                height: 80px;
                img {
                  max-width: 100%;
                  padding: 15px;
                }
              }
            }
            .why-body__content {
              display: flex;
              flex: 1 1 auto;
              flex-direction: column;
              padding: 0px 0px 0px 10px;
              .why-body__title {
                flex: 1 1 auto;
              }
              .why-body__text {
                padding: 0px 15px 0px 0px;
              }
            }
          }
        }
      }
    }

    .contacts {
      padding: 80px 0px 0px 0px;
      @media (max-width: $md3) {
        padding: 30px 0px 0px 0px;
      }
      .contacts-top {
        .contacts-top__title {
          padding: 0px 0px 30px 0px;
        }
        .contacts-body {
          display: flex;
          flex-wrap: wrap;
          .contacts-body__column {
            flex: 0 0 50%;
            margin: 0px 0px 20px 0px;
            @media (max-width: $md3) {
              flex: 1 1 100%;
            }
            .contacts-body__item {
              display: inline-block;
              color: #000;
              line-height: 27px;
              padding: 0px 0px 0px 35px;
            }
            &_1 {
              background: url(../img/icons/05_location.png) left no-repeat;
            }
            &_2 {
              background: url(../img/icons/06_email.png) left no-repeat;
            }
            &_3 {
              background: url(../img/icons/07_telephone.png) left no-repeat;
            }
          }
          .contacts__social {
            display: flex;
            .contacts__social_item {
              margin: 0px 30px 0px 0px;
              &:last-child {
                margin: 0px;
              }
            }
          }
        }
      }

      .contacts-content {
        display: flex;
        @media (max-width: $md3) {
          flex-wrap: wrap;
        }
        .contacts-content__column {
          flex: 0 0 50%;
          @media (max-width: $md3) {
            flex: 1 1 100%;
          }
        }
        .contacts-content__map {
          height: 100%;
          @media (max-width: $md3) {
            height: 300px;
          }
        }
        .contacts-content-form {
          background-color: #000;
          padding: 55px 60px;
          @media (max-width: $md3) {
            padding: 30px;
          }
          .contacts-content-form__title {
            color: #fff;
            margin: 0px 0px 30px 0px;
          }
        }
        .contacts-content-form__body {
          max-width: 375px;
          @media (max-width: $md3) {
            max-width: none;
          }
          .contacts-content-form__line {
            margin: 0px 0px 25px 0px;
            textarea {
              &.input {
                resize: none;
                height: 100px;
                padding: 10px 18px;
              }
            }
          }
          .input {
            border-radius: 0 !important;
            width: 100%;
            height: 50px;
            display: block;
            padding: 0px 20px;
            border: 2px solid #959595;
            background-color: #252525;
            color: #fff;
            font-size: 15px;
            padding: 0px 18px;
            &:focus {
              &::-webkit-input-placeholder {
                scale: (0);
              }
              &:-moz-placeholder {
                opacity: 0;
              }
              &::-moz-placeholder {
                opacity: 0;
              }
              &:-ms-input-placeholder {
                scale: (0);
              }
            }
            &._error {
              border: 2px solid red;
            }
          }
          .contacts-content-form__button {
            .contacts-content-form-btn {
            }
          }
        }
      }
    }
  }
}

.footer {
  .footer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    @media (max-width: $md3) {
      flex-direction: column;
      height: auto;
      padding: 15px 0px;
    }
    .footer-body__column {
      @media (max-width: $md3) {
        &:first-child {
          order: 2;
          text-align: center;
        }
        &:last-child {
          order: 1;
          margin: 0px 0px 15px 0px;
        }
      }
      .footer__text {
        color: #4d4d4d;
        & a {
          color: #4d4d4d;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .footer__logo {
      }
    }
  }
}
